<!--<h1 class="form_head_div">ChatRoom</h1>-->
<div class = "login_container">
  <%= link_to 'login', controller: 'user', action: 'login'%>OR
  <%= link_to 'sign_up', controller: 'user', action: 'form'%>
</div>

