<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sticky.title %>
</p>


<p>
  <strong>Content:</strong>
  <%= @sticky.content %>
</p>

<%= link_to 'Back', stickies_index_path %>
